body {
    background-color:blanchedalmond;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
* header {
    margin: 1rem 1rem 0 1rem;
    padding: 0.5rem 1rem;
    background-color:burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*main{
    margin: 1rem 1rem 0 1rem;
    padding: 0.5rem 1rem;


    
}
*head{
    font: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-image-width: auto;
}
footer{ 
    margin: 1rem 1rem 0 1rem;
    padding: 0.5rem 1rem;
    background-color:burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-menu {
    position: relative;
}

.main-menu ul {
    display: flex
    ;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        list-style-type: none;
}

.main-menu a {
    font-weight: 800;
    text-decoration: none;
}
